/*--------------------------------------------------------------
# Global Styles & CSS Variables
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }

:root {
    --brandblue: #8AA7EC;
    --featuresblue: #69BFF8;
    --productspurple: #AA8FD8;
}

/*--------------------------------------------------------------
# Eric Meyer CSS Reset
--------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*--------------------------------------------------------------
# Styles
--------------------------------------------------------------*/

/* Header */

    .header {
        display: flex;
        flex-direction: column;
        border-top: 5px solid var(--brandblue);
        padding: 0 0 1em;
    }

    .header-img {
        height: auto;
        width: 100%;
        padding: 1em;
    }

    .nav-bar {
        text-align: center;
    }

    .nav-link {
        padding: 0.2em 0;
    }

    .nav-link a {
        font-family: 'Poppins', sans-serif;
        color: #000;
        text-decoration: none;
    }

/* Hero */

    .hero {
        display: grid;
        grid-template-areas: "hero";
        background: linear-gradient(61.63deg, #D16BA5 0%, #C777B9 9.9%, #BA83CA 17.71%, 
                                #AA8FD8 26.56%, #9A9AE1 34.9%, #8AA7EC 45.83%, 
                                #79B3F4 53.65%, #69BFF8 64.58%, #52CFFE 73.44%, 
                                #41DFFF 80.73%, #46EEFA 89.06%, #5FFBF1 100%);
        height: 65vh;
        max-height: 600px;
        place-items: center;
    }

    .hero > * {
        grid-area: hero;
    }

    .hero-content {
        color: #FFF;
        text-align: center;
    }

    .hero-title {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 2em;
        text-transform: uppercase;
        text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
        padding: 0.3em 0;
    }

    .hero-subtitle {
        font-family: 'Lato', sans-serif;
        font-size: 0.9em;
        text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
    }

/* Call-to-Action */

    .cta-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #FFF;
        font-family: 'Lato', sans-serif;
        font-size: 0.8em;
        width: 75vw;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
        padding: 0 1em;
        border-radius: 10px;
        margin: -50px auto 0;
    }

    .cta-text {
        text-align: center;
        line-height: 1.25em;
        padding: 1em 0 0.5em;
    }

    .cta-text span {
        font-weight: bold;
    }

    .cta-form {
        display: flex;
        justify-content: center;
        padding: 0.5em 0 1em;
    }

    input[type='email'] {
        font-family: 'Lato', sans-serif;
        color: #C4C4C4;
        width: 55%;
        padding: 0.65em 0.8em;
        border: 1px solid #C4C4C4;
    }

    input[type='email']::placeholder {
        color: #C4C4C4;
    }

    input[type='email']:focus {
        border: 1px solid #C6C6C6;
    }

    input[type='submit'] {
        background-color: var(--brandblue);
        color: #FFF;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 1.25em;
        text-transform: uppercase;
        border: none;
        padding: 0.5em;
    }

    input[type='submit']:hover {
        background-color: #79B3F4;
    }

/* Features */

    .features {
        margin: 3em 0 0;
    }

    .features-header {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
    }

    .header-underline {
        border: 2px solid var(--featuresblue);
        width: 150px;
    }

    .features-text {
        font-family: 'Lato', sans-serif;
        text-align: center;
        padding: 1em 0;
        width: 375px;
        margin: 0 auto;
    }

    .video-separator {
        width: 80%;
        margin: 1.5em auto;
    }

    .features-video iframe {
        height: 315px;
        width: 100%;
    }

    .features-list {
        display: grid;
        grid-template-columns: 310px;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 2.5em;
        justify-content: center;
        padding: 2em 0;
    }
    
    .feature-card {
        text-align: center;
        padding: 1.5em 0;
        border: 1px solid var(--featuresblue);
        border-radius: 10px;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    }

    .feature-card img {
        background-color: var(--featuresblue);
        height: 100px;
        width: 100px;
        padding: 1.1em;
        border-radius: 50%;
    }

    .card-title {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 1.1em;
        padding: 2em 0 0.75em;
    }

    .card-text {
        font-family: 'Lato', sans-serif;
        font-size: 0.9em;
        width: 200px;
        margin: 0 auto;
    }

    .read-more-button {
        display: block;
        background-color: var(--featuresblue);
        color: #FFF;
        font-family: 'Lato', sans-serif;
        font-size: 0.9em;
        text-decoration: none;
        width: 150px;
        padding: 1.25em 2em;
        border-radius: 10px;
        margin: 2em auto 0;
    }

    .read-more-button:hover {
        background-color: #52CFFE;
    }

/*--------------------------------------------------------------
# Media Breakpoints
--------------------------------------------------------------*/


/* Tablet */
    @media (min-width: 760px) {

        /* Header */
        .header {
            flex-direction: row;
            justify-content: space-between;
            border-top: 10px solid var(--brandblue);
        }

        .header-img {
            width: 50%;
        }

        .nav-bar ul {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .nav-link {
            padding: 0 1em;
        }

        /* Hero */
        .hero {
            height: 80vh;
            max-height: 1000px;
        }

        .hero-title {
            font-size: 3em;
        }

        .hero-subtitle {
            font-size: 1.2em;
        }

        /* Call-to-Action */
        .cta-container {
            width: 70vw;
            font-size: 1em;
            margin-top: -70px;
        }

        input[type='email'] {
            font-size: 1em;
        }

        /* Features */
        .features-header {
            font-size: 3em;
        }

        .header-underline {
            width: 225px;
        }
        
        .features-text {
            width: 375px;
        }

        .video-separator {
            width: 50%;
            margin: 2em auto;
        }

        .features-video iframe {
            height: 480px;
        }

        .features-list {
            grid-template-columns: repeat(3, 200px);
            grid-template-rows: auto;
        }

        .card-text {
            width: 75%;
        }

        .read-more-button {
            margin: 2em auto 0;
        }
    }


/* Large Tablet */

    @media (min-width: 1000px) {

        /* Header */
        .nav-link {
            font-size: 1.25em;
        }

        /* Hero */
        .hero {
            height: 82vh;
            max-height: 1200px;
        }

        .hero-title {
            font-size: 5em;
        }

        .hero-subtitle {
            font-size: 2em;
        }

        /* Call-to-Action */
        .cta-container {
            width: 70vw;
            font-size: 1.5em;
            margin-top: -100px;
        }

        input[type='email'] {
            font-size: 0.9em;
        }

        /* Features */
        .features-text {
            width: 375px;
        }

        .features-video iframe {
            height: 600px;
        }

        .features-list {
            grid-template-columns: repeat(3, 275px);
            grid-template-rows: auto;
        }

        .card-text {
            width: 85%;
        }

    }

/* Desktop */

    @media (min-width: 1200px) {

        /* Header */
        .header-img {
            width: 25%;
        }

        .nav-link {
            font-size: 1.75em;
        }

        /* Hero */
        .hero {
            height: 65vh;
            max-height: 1200px;
        }

        .hero-title {
            font-size: 4.5em;
        }

        .hero-subtitle {
            font-size: 1.5em;
        }

        /* Call-to-Action */
        .cta-container {
            width: 40vw;
        }

        .cta-form {
            padding: 0.5em 0 1.5em;
        }

        .cta-text {
            font-size: 1em;
        }

        input[type='email'],
        input[type='submit'] {
            font-size: 1em;
        }

        /* Features */
        .features-text {
            font-size: 1.5em;
            width: 550px;
        }

        .features-video {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .features-video hr {
            color: #C4C4C4;
            height: 1%;
            width: 25%;
        }

        .features-video iframe {
            height: 720px;
            width: 1280px;
        }

        .features-list {
            grid-template-columns: repeat(3, 500px);
            grid-template-rows: auto;
            justify-content: center;
            grid-gap: 5em;
        }

        .feature-card {
            padding: 2.5em 0;
        }

        .feature-card img {
            height: 150px;
            width: 150px;
        }

        .card-title {
            font-size: 3rem;
        }

        .card-text {
            font-size: 1.5em;
            width: 300px;
        }

        .read-more-button {
            font-size: 1.5em;
            width: 250px;
        }

    }